/*General starts here*/
.hotBar{
  display: flex;
  width: 100vw;
  height: 15vh;
  background-color: rgb(30, 30, 30);
  margin-bottom: 1vh;
  border-bottom: 4px solid rgb(245, 165, 15);
  align-items: center;
  justify-content: space-evenly;
}

.hotBarButton{
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
  text-justify: center;
  text-align: center;
  border: 4px solid rgb(245, 165, 15);
  color: rgb(45, 0, 120);
  background-color: white;
  font-size: 3vh;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s;
}

.hotBarButton:hover{
  background-color: rgb(45, 0, 120);
  color: white;
}

#returnMenu{
  font-family: calibri;
}

#classButton2024{
  font-family: calibri;
}

#speciesButton2024{
  font-family: calibri;
}

#statsButton2024{
  font-family: calibri;
}

#originButton2024{
  font-family: calibri;
}

#infoButton2024{
  font-family: calibri;
}

#classButton2014{
  font-family: calibri;
}

#speciesButton2014{
  font-family: calibri;
}

#statsButton2014{
  font-family: calibri;
}

#originButton2014{
  font-family: calibri;
}

#infoButton2014{
  font-family: calibri;
}

.creatorBox{
  display: flex;
  background-color: rgba(30, 30, 30, 0.95);
  border-radius: 12px;
  height: 83vh;
  width: 95vw;
  align-items: center;
}

.leftBox{
  display: grid;
  width:47.5vw;
  height: 80vh;
  box-sizing:border-box;
  overflow-y: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 0vw;
  justify-items: center;
  row-gap: 2.83vw;
}

.rightBox{
  display: grid;
  width:47.5vw;
  height: 80vh;
  box-sizing:border-box;
  overflow: auto;
  justify-items: center;
}

.buttonText{
  justify-self: center;
  color: white;
  font-size: 2.5vw;
  margin: 0;
}

.featuresAccordion{
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  white-space: pre-line;
  border: 1px solid white;
}

.featuresHeader{
  background-color: rgb(45, 75, 100);
  padding: 15px;
  cursor: pointer;
}

.featuresContent{
  color: white;
}
/*General ends here*/

/*Main Page starts here*/
#mainPage{
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0;
  height: 100vh;
  background-image: url(../Images/mainPageBackground.jpg);
  background-size: cover;
  background-position: center;
}

.mainPageCenter{
  display: grid;
  width: 70vw;
  height: 98vh;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: rgba(20, 20, 20, 0.98);
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: center;
}

.titleMain{
  font-size: 3vw;
  justify-self: center;
  font-family: Algerian;
  text-decoration: underline;
  color: rgb(255, 255, 255);
  text-align: center;
}

.buttonMenu{
  width: 15vw;
  height: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  font-size: 1.5vw;
  font-family: calibri;
  border-radius: 5px;
  border: 2px solid rgb(245, 165, 15);
  color: white;
  background-color: rgb(90, 0, 255);
  transition: transform 0.1s;
  cursor: pointer;
  flex-shrink: 0;
}

.buttonMenu:hover{
  box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.3);
  transform: translate(-2px, -2px);
  transition: background-color 0.2s;
}

.buttonMenu:active{
  background-color: rgb(43, 0, 122);
}

#versionButtons{
  display: none;
}

.versionContainer{
  display: flex;
  flex-direction: column;
}

#editCharacter{
  font-family: calibri;
}

/*Main Page ends here*/

/*2014 Version(5e) starts here*/
/*Class Part starts here*/
#classSelect2014{
  display: grid;
  background-image: url(../Images/classBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  justify-items: center;
  box-sizing: border-box;
}

#artificer2014{
  background-image: url(../Images/artificerBack.jpeg);
  background-position: center;
  background-size: cover;
}

#barbarian2014{
  background-image: url(../Images/barbarianBack.jpeg);
  background-position: center;
  background-size: cover;
}

#bard2014{
  background-image: url(../Images/bardBack.jpeg);
  background-position: center;
  background-size: cover;
}

#cleric2014{
  background-image: url(../Images/clericBack.jpeg);
  background-position: center;
  background-size: cover;
}

#druid2014{
  background-image: url(../Images/druidBack.jpeg);
  background-position: center;
  background-size: cover;
}

#fighter2014{
  background-image: url(../Images/fighterBack.jpeg);
  background-position: center;
  background-size: cover;
}

#monk2014{
  background-image: url(../Images/monkBack.jpeg);
  background-position: center;
  background-size: cover;
}

#paladin2014{
  background-image: url(../Images/paladinBack.jpeg);
  background-position: center;
  background-size: cover;
}

#ranger2014{
  background-image: url(../Images/rangerBack.jpeg);
  background-position: center;
  background-size: cover;
}

#rogue2014{
  background-image: url(../Images/rogueBack.jpeg);
  background-position: center;
  background-size: cover;
}

#sorcerer2014{
  background-image: url(../Images/sorcererBack.jpeg);
  background-position: center;
  background-size: cover;
}

#warlock2014{
  background-image: url(../Images/warlockBack.jpeg);
  background-position: center;
  background-size: cover;
}

#wizard2014{
  background-image: url(../Images/wizardBack.jpeg);
  background-position: center;
  background-size: cover;
}

.classButton{
  border: 5px solid rgb(245, 165, 15);
  height: 13vw;
  width: 13vw;
  flex-shrink: 0;
  flex-grow: 0;
  transition: transform 0.2s, box-shadow 0.2s, filter 0.2s;
  margin-top: 1vh;
}

.classButton:hover{
  box-shadow: 5px 5px 1px 0px rgb(0, 0, 0);
  transform: translate(-5px, -5px);
}

.classButton:active{
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
  transform: translate(0px, 0px);
  filter: brightness(0.8);
}

/*Class Part ends here*/

/*Species Part starts here*/
#speciesSelect2014{
  display: grid;
  background-image: url(../Images/speciesBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  justify-items: center;
}
/*Species Part ends here*/

/*Stats Part starts here*/
#statsSelect2014{
  display: grid;
  background-image: url(../Images/statsBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  justify-items: center;
}
/*Stats Part ends here*/

/*Origin Part starts here*/
#originSelect2014{
  display: grid;
  background-image: url(../Images/originBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  justify-items: center;
}
/*Origin Part ends here*/

/*Info Part starts here*/
#infoSelect2014{
  display: grid;
  background-image: url(../Images/infoBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  justify-items: center;
}
/*Info Part ends here*/

/*2014 Version(5e) ends here*/

/*2024 Version(5.5e) starts here*/

/*Class Part starts here*/
#classSelect2024{
  display: grid;
  background-image: url(../Images/classBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  justify-items: center;
}
/*Class Part ends here*/

/*Species Part starts here*/
#speciesSelect2024{
  display: grid;
  background-image: url(../Images/speciesBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  justify-items: center;
}
/*Species Part ends here*/

/*Stats Part starts here*/
#statsSelect2024{
  display: grid;
  background-image: url(../Images/statsBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  justify-items: center;
}
/*Stats Part ends here*/

/*Origin Part starts here*/
#originSelect2024{
  display: grid;
  background-image: url(../Images/originBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  justify-items: center;
}
/*Origin Part ends here*/

/*Info Part starts here*/
#infoSelect2024{
  display: grid;
  background-image: url(../Images/infoBackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  justify-items: center;
}
/*Info Part ends here*/

/*2024 Version(5.5e) ends here*/